<html>

  <header>
    <title>There Is No Time In Space</title>
    <link href="css/main.css" rel="stylesheet" type="text/css" />
  </header>
  
  <body>
    <div class=templateholder >
      <div class=Layout3_header >
        <h1>Do You Know What Time It Is?</h1>
        The time is currently <%= Time.now.to_time  %>
        <h2>
          <p>It's Homework Time!</p>
        </h2>
      </div>
      <div class=Layout3_1 ></div>
      <div  class=Layout3_2 ></div> 
      <div  class=Layout3_3 ></div>
      <div  class=Layout3_4 ></div>
      <div  class=Layout3_5 ></div>
    </div>
  </body>

</html>