<!-- index.erb -->
<% if params.length > 0 %>
  <h3>
    Thanks for signing up for our newsletter, <%= params["person"]["first_name"] %> <%= params["person"]["last_name"] %>!
  </h3>
<% else %>
  <h3></h3>
<% end %>


<h1>Do You Know What Time It Is?</h1>
The time is currently <%= Time.now %>
<h2>
  <p>It's Homework Time!</p>
  <p>Is Yours Done?</p>
</h2>
<!-- In the form tag, the action attribute defines what url (or path) this form submits to. We're leaving it blank because we want to submit to the same url as the current page. -->
<form action="" method="get" accept-charset="utf-8">
  <label for="fname">Name</label>
  <input type="text" name="person[first_name]" value="" id="fname">
  <input type="text" name="person[last_name]" value="" id="lname">

  <p><input type="submit" value="Submit"></p>
</form>

<div id='debug'>
  <hr>
  <h4>DEBUG</h4>
  The params hash: <%= params %><br>
</div>