/* From primarycss.com */

/*.mainbody{  margin-left: auto;margin-right: auto; width:960px} *?
            
/*  Layout 3  */        

/*            
.Layout3_1{ width:70%; background-color:Red;  height:400px; float:left;}            
.Layout3_2{ width:30%; background-color:Blue; float:left; height:400px; }           
.Layout3_header{ background-color:Yellow; width:100%; height:100px;}            
*/

/* Custom Stuff - it cascades, right? */

/* Temporarily taking this out
div {
  border: 1px dotted black;
  padding: 5px;
  text-align: center;
}
*/

body .midday {
  background-color: #994499;
  color: white;
}

body .morning {
  background-color: #FFFF80;
  color: black;
}

body .bedtime {
  background-color: #800000;
  color: #000033;
}

body .late {
  background-color: #222222;
  color: #999999;
}

.hide_this {
  display: none;
}

div .testing {
  display: none;
}

article {
  display: inline-block;
  width: 69%;
}

aside {
  display: inline;
  width: 29%;
}

#debug {
  font-size: small;
  text-align: left;
}
/* 304 troll */
.nothing_class {

}